body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
    color: #1a1a1a;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .bodybg{
    background-image: url(https://media-exp1.licdn.com/dms/image/C511BAQGZM2tX1b9qFw/company-background_10000/0?e=2159024400&v=beta&t=MELmRDHRD1EjzCf6rCUqWgCqme0ewmdcBvTxq8sZN78) !important;
  }

  .floatin {
    float: right;
    margin-right: 3px ;
  }

  .dltfloatin{
    float: right;
    margin-left: 20px;
  }

  .iconms{
    margin-left: 15px;
  }